
.div-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0px 10px;
    margin-bottom: 0px;
    font-size: 12px;

}

.logo-div{
    width: 33%;
}

.logo-img{
    width: 50%;
}

.line-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-nav{
    width: 95%;
    padding-bottom: 10px;
}

li{
    color: #1E3629;
    padding: 0px 10px 0px 10px;
}

ul {
    list-style: none;
}  