.imgprado{
    width: 100%;
    margin: 20px 0px 20px 0px;
}

.hearticon{
    width: 20px;
}

ul {
    display: flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap: wrap;
}

.li-product{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    box-shadow: 0px 4px 4px 0px grey;
    width: 20%;
    padding: 0px;
    color: black;
}

.img-product{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.product-name {
    font-family: "Display Fair";
    font-size: 16px;
    padding-right: 20px;

}

.product-price{
    font-size: 12px;
    padding-right: 20px;

}


.button-fav{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
} 